<div class="flex flex-col justify-center items-center">
  <div class="py-4 text-2xl font-light">STUDENTS</div>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="p-1 border-2 border-gray-400">Name</th>
        <th class="p-1 border-2 border-gray-400">Term</th>
        <th class="p-1 border-2 border-gray-400">Subject</th>
        <th class="p-1 border-2 border-gray-400">Start Date</th>
      </tr>
    </thead>
    <% @classroom_subjects.each do |classroom_subject| %>
      <tbody>
        <tr>
          <td class="p-1 border-2 border-gray-300"><%= classroom_subject.student.first_name + " " + classroom_subject.student.second_name + " " + classroom_subject.student.last_name %>
          <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term %>
          <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.name %>
          <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.start_date.inspect %>
        </tr>
      </tbody>
    <% end %>
  </table>

  <%= link_to classroom_path(@classroom, format: :xlsx), class: "bg-blue-600 px-2 py-1 mt-2 text-gray-50 shadow-xl" do %>
    Excel Sheet
  <% end %>
</div>