<table class="table-auto">
  <thead>
    <tr>
      <th class="p-1 border-2 border-gray-400">Subject</th>
      <th class="p-1 border-2 border-gray-400">Credits</th>
      <th class="p-1 border-2 border-gray-400">Teacher</th>
      <th class="p-1 border-2 border-gray-400">Term</th>
      <th class="p-1 border-2 border-gray-400">Start Date</th>
      <th class="p-1 border-2 border-gray-400">End Date</th>
      <th class="p-1 border-2 border-gray-400">Time</th>
      <th class="p-1 border-2 border-gray-400">Days</th>
      <th class="p-1 border-2 border-gray-400">Remarks</th>
    </tr>
  </thead>
  <% @classroom_timetable.each do |classroom_subject| %>
    <tbody>
      <tr>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.name %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.credits %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.teacher.full_name.truncate(15) %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.name %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.start_date.inspect %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.end_date.inspect %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.period_time.strftime("%I:%M") %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.start_day %> - <%= classroom_subject.end_day %></td>
        <td class="p-1 border-2 border-gray-300"><%= classroom_subject.remarks %></td>
      </tr>
    </tbody>
  <% end %>
</table>