<%= form_with url: search_for_attendance_classroom_path(@classroom), method: :post do |form| %>
  <%= form.label :subject_search, "Subject:", class: "pl-2 text-gray-700"%>
  <%= form.search_field :subject_search, value: params[:subject_search], 
      placeholder: "Name",
      class: "px-2 py-1 text-gray-600 border border-gray-400 rounded-xl focus:outline-none focus:border-orange-400 focus:ring-1 focus:ring-orange-400"%>
  <%= form.label :start_date_search, "Starting Date:", class: "pl-2 text-gray-700"%>
  <%= form.date_field :start_date_search, value: params[:start_date_search],
      class: "px-2 py-1 text-gray-600 border border-gray-400 rounded-xl focus:outline-none focus:border-orange-400 focus:ring-1 focus:ring-orange-400"%>
  <%= form.submit "Search", class: "bg-blue-700 px-2 py-1 text-gray-50 rounded hover:bg-blue-500" %>
<% end %>

<div class="mt-4" id="search_results_for_attendance"></div>