<table class="table-auto">
  <thead>
    <tr>
      <th class="p-1 border-2 border-gray-400">Name</th>
      <th class="p-1 border-2 border-gray-400">Term</th>
      <th class="p-1 border-2 border-gray-400">Subject</th>
      <th class="p-1 border-2 border-gray-400">Start Date</th>
      <th class="p-1 border-2 border-gray-400">Time</th>
    </tr>
  </thead>
    <% classroom_attendance_per_subject.each do |subject| %>
      <tbody>
        <tr>
          <td class="p-1 border-2 border-gray-300"><%= subject.student.first_name + " " + subject.student.second_name + " " + subject.student.last_name %>
          <td class="p-1 border-2 border-gray-300"><%= subject.term %>
          <td class="p-1 border-2 border-gray-300"><%= subject.subject.name %>
          <td class="p-1 border-2 border-gray-300"><%= subject.term.start_date.inspect %>
          <td class="p-1 border-2 border-gray-300"><%= subject.period_time.strftime("%I:%M") %>
        </tr>
      </tbody>
    <% end %>
</table>
