<div class="mt-1 mx-32 text-sm flex flex-col justify-center items-center">
  <%= form_for student, html: { class: "py-8 flex flex-col justify-center items-center" } do |f| %>
    <% if student.errors.any? %>
      <ul class="bg-red-200 px-3 py-2 mb-4 border border-red-400 text-red-400 list-disc list-inside">
        <% student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="border border-blue-400 rounded-lg">
      <div class="px-2 py-4 flex flex-col md:flex-row items-baseline space-y-2 md:space-x-7">
        <h1 class="pb-2 text-gray-800">
          Name
        </h1>
        <%= f.text_field :first_name, placeholder: "First Name", class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
        <%= f.text_field :second_name, placeholder: "Second Name", class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
        <%= f.text_field :last_name, placeholder: "Third Name", class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>
    
    <div class="mt-4 flex justify-around items-center space-x-4">
      <% if student.profile_pic.present? %>
        <%= image_tag student.profile_pic, height: 30, width: 30 %>
      <% end %>
      <%= f.label :profile_pic, "Student's Pic", class: "text-gray-800" %>
      <%= f.file_field :profile_pic, class: "text-sm text-gray-700 " %>
    </div>

    <div class="flex justify-around items-center space-x-4">
      <div>
        <%= f.label :father_name, "Father's Name", class: "text-gray-800" %>
        <%= f.text_field :father_name, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
      <div>
        <%= f.label :mother_name, "Mother's Name", class: "text-gray-800" %>
        <%= f.text_field :mother_name, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="flex justify-around items-center space-x-4">
      <div>
        <%= f.label :d_o_b, "Date of Birth", class: "text-gray-800" %>
        <%= f.date_field :d_o_b, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
      <div>
        <%= f.label :birth_cert, "Birth Certificate Available?", class: "text-gray-800" %>
        <%= f.select :birth_cert, ["Available", "Not Available"], {include_blank: " "}, { class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" }%>
      </div>
    </div>

    <div class="flex justify-around items-center space-x-4">
      <div>
        <%= f.label :contact_one, "Contact Number", class: "text-gray-800" %>
        <%= f.text_field :contact_one, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
      <div>
        <%= f.label :contact_two, "Another Contact Number", class: "text-gray-800" %>
        <%= f.text_field :contact_two, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="border border-blue-400 rounded-lg">
      <div class="px-2 py-4 flex flex-col md:flex-row items-baseline space-y-2 md:space-x-7">
        <h1 class="pb-2 text-gray-800">
          Address
        </h1>
        <%= f.label :city, class: "pr-2" %>
        <%= f.text_field :city, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>

        <%= f.label :region, class: "pr-2" %>
        <%= f.text_field :region, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="flex justify-around items-center space-x-4">
      <div>
        <%= f.label :religion, class: "text-gray-800" %>
        <%= f.select :religion, ["Sunni Muslim", "Shia Muslim", "Christian"], {}, { class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" } %>
      </div>
      <div>
        <%= f.label :qualifications, "Qualification(s), 'Both Hauza and Secular'", class: "text-gray-800" %>
        <%= f.text_field :qualifications, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="flex justify-around items-center space-x-4">
      <div>
        <%= f.label :admission_date, class: "text-gray-800" %>
        <%= f.date_field :admission_date, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
      <div>
        <%= f.label :admission_number, class: "text-gray-800" %>
        <%= f.number_field :admission_number, class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" %>
      </div>
    </div>

    <%= f.submit yield(:button_name), class: "bg-green-600 px-2 py-1 text-base text-gray-50 rounded hover:bg-green-400" %>
  <% end %>
</div>

