<div class="w-auto h-auto flex justify-center items-center">
  <div class="rounded-lg">
    <div class="mt-1 mx-32 flex flex-col justify-center items-center">
      <%= simple_form_for @student, 
            defaults: { input_html: {
            class: "p-1 my-4 border border-zinc-400 rounded-lg text-sm text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" },
            label_html: { class: "pr-2" }
            },
            html: { class: "my-10" } do |f| %>
        <div class="border border-blue-400 rounded-lg">
          <%= f.error_notification message: f.object.errors[:base].to_sentence %>
          <div class="px-2 py-4 flex flex-col md:flex-row items-baseline space-y-2 md:space-x-7">
            <h1 class="pb-2 text-lg font-light">
              Name
            </h1>
            <%= f.input :first_name, label_html: { class: "hidden"}, placeholder: "First Name" %>
            <%= f.input :second_name, label_html: { class: "hidden"}, placeholder: "Second Name" %>
            <%= f.input :last_name, label_html: { class: "hidden"}, placeholder: "Third Name" %>
          </div>
        </div>
        <%= f.input :father_name, label: "Father's Name" %>
        <%= f.input :mother_name, label: "Mother's Name" %>
        <%= f.input :d_o_b, label: "Date Of Birth" %>
        <%= f.input :birth_cert, label: "Birth Certificate Available?", collection: ["Yes", "No"], default: "Yes" %>
        <%= f.input :contact_one, label: "Contact Number" %>
        <%= f.input :contact_two, label: "Another Contact Number" %>
        <div class="border border-blue-400 rounded-lg">
          <div class="px-2 py-4 flex flex-col md:flex-row items-baseline space-y-2 md:space-x-7">
            <h1 class="pb-2 text-lg font-light">
              Address
            </h1>
            <%= f.input :city %>
            <%= f.input :region %>
          </div>
        </div>
        <%= f.input :religion, collection: ["Sunni Muslim", "Shia Muslim", "Christian"] %>
        <%= f.input :qualifications, label: "Qualification(s), 'Both Hauza and Secular'" %>
        <%= f.input :admission_date %>
        <%= f.input :admission_number %>
        <%= f.submit class: "bg-green-600 px-3 py-2 text-lg text-gray-50 rounded-lg hover:bg-green-400" %>
      <% end %>
    </div>
  </div>
</div>
