<%= turbo_frame_tag(dom_id(student)) do %>
  <div class="px-6 py-2 bg-slate-200 border border-slate-400 rounded shadow-lg hover:shadow-2xl transition delay-100">
    <div class="flex justify-between items-center">
      <%= link_to student_path(student),
          class: "text-lg text-gray-700" do %>
        <i class="fa-solid fa-id-badge"></i>
        <%= student.first_name %>
        <%= student.second_name %>
        <%= student.last_name %>
      <% end %>
      <%= turbo_frame_tag "profile#{student.id}" do %>
        <%= link_to profile_student_path(student), class: "text-sm text-gray-700" do %>
          <i class="fa-solid fa-link"></i> profile
        <% end %>
      <% end %>
    </div> 
  </div>
<% end %>