<%= turbo_stream_from "students_list" %>
<%= turbo_frame_tag "students" do %>
  <div class="mt-8 flex flex-col items-center">
    <div class="w-1/2 mt-3">
      <div class="">
        <% @students.each do |student| %>
          <%= render "students/student", student: student %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "new_student" do %>
  <div class="my-8 flex justify-center items-center">
    <%= link_to new_student_path, class: "px-3 py-2 bg-green-700 text-2xl text-gray-50 font-light drop-shadow-2xl rounded hover:bg-green-400" do %>
      New Student
    <% end %>
  </div>
<% end %>

