<div class="my-6 text-3xl font-light text-gray-700 flex justify-center items-center">
  <span class="flex flex-row justify-center items-center space-x-7">
    <span><%= @student.first_name %>'s Dashboard</span>
    <span class="text-gray-700"><%= @svg.html_safe %></span>
    <% if @student.profile_pic.present? %>
      <span><%= image_tag @student.profile_pic, class: "rounded-full w-16 h-16" %></span>
    <% end %>
  </span>
</div>
<div class="flex justify-center items-center">
  <div class="flex flex-col justify-center items-center md:grid md:grid-cols-4 md:gap-2 text-gray-700">
    <div><u>Name:</u> 
      <%= @student.first_name %>
      <%= @student.second_name %>
      <%= @student.last_name %>
    </div>
    <div><u>Father's Name:</u>  
      <%= @student.father_name %>
    </div>
    <div><u>Mother's Name:</u> 
      <%= @student.mother_name %>
    </div>
    <div><u>D.O.B:</u>
      <%= @student.d_o_b %>
    </div>
    <div><u>Birth Certificate:</u> 
      <%= @student.birth_cert %>
    </div>
    <div><u>Contact:</u>
      <%= @student.contact_one %>
    </div>
    <div><u>Another Contact:</u> 
      <%= @student.contact_two %>
    </div>
    <div><u>Address, City:</u>
      <%= @student.city %>,
      <u>Region:</u>  
      <%= @student.region %>
    </div>
    <div><u>Religion:</u> 
      <%= @student.religion %>
    </div>
    <div><u>Qualifications:</u> 
      <%= @student.qualifications %>
    </div>
    <div><u>Admission Date:</u>
      <%= @student.admission_date %>
    </div>
    <div><u>Admission Number:</u>
      <%= @student.admission_number %>
    </div>
  </div>
</div>


<%= turbo_frame_tag "terms" do %>
  <div class="flex justify-around items-center">
    <div class="mt-16 grid grid-cols-4 gap-3">
      <% if @student.terms.any? %>
        <% @student_terms.each do |term| %>
          <%= render "terms/term", term: term %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mt-4 flex justify-center items-center">
    <%= link_to student_path(@student, format: :pdf), class: "px-4 py-2 bg-blue-600 text-sm text-gray-50 shadow-xl hover:bg-blue-400" do %>
      Generate PDF with terms
    <% end %>
</div>

<div class="mt-8 flex justify-center items-center">
  <%= turbo_frame_tag "new_term" do %>
    <%= link_to new_student_term_path(@student), class: "px-4 py-2 bg-green-600 text-lg text-gray-50 shadow-xl hover:bg-green-400" do %>
      Add New Term
    <% end %>
  <% end %>
</div>

<div class="mt-8 pt-8 border-t-2 border-gray-200 flex flex-col justify-center items-center space-y-3">
  <div class="text-xl font-light text-gray-700">Total credits taken by <%= @student.first_name %>: <u><%= @student.total_credits(@student) %>/<%= @all_subjects.sum(:credits) %></u></div>
  <div class="flex justify-center items-center space-x-2">
    <div class="h-6 w-6 bg-gray-300 text-gray-300 rounded-full">#</div>
    <div class="text-gray-700">Not Taken</div>
    <div class="h-6 w-6 bg-blue-600 text-blue-600 rounded-full">#</div>
    <div class="text-gray-700">Taken</div>
    <div class="h-6 w-6 bg-green-600 text-green-600 rounded-full">#</div>
    <div class="text-gray-700">Taken and Passed</div>
    <div class="h-6 w-6 bg-red-600 text-red-600 rounded-full">#</div>
    <div class="text-gray-700">Taken and Failed</div>
  </div>
  <div class="flex justify-center items-center">
    <div class="grid grid-cols-5 gap-3">
      <% @all_subjects.each do |sub| %>
        <% if sub.student_terminal_subjects.where(student_id: @student.id).any? %>
          <% sub.student_terminal_subjects.where(student_id: @student.id).each do |subject| %>
            <% if subject.marks_report %>
              <% if subject.marks_report.total < 50 %>
                <div class='px-1 py-1 text-gray-50 flex justify-center items-center rounded bg-red-600'> <%= subject.subject.name + " " + "(" + subject.subject.credits.to_s + ")" %></div>
              <% else %>
                <div class='px-1 py-1 text-gray-50 flex justify-center items-center rounded bg-green-600'> <%= subject.subject.name + " " + "(" + subject.subject.credits.to_s + ")" %></div>
              <% end %>
            <% else %>
              <div class='px-1 py-1 text-gray-50 flex justify-center items-center rounded bg-blue-600'> <%= subject.subject.name + " " + "(" + subject.subject.credits.to_s + ")" %></div>
            <% end %>
          <% end %>
        <% else %>
          <div class='px-1 py-1 text-gray-700 flex justify-center items-center rounded bg-gray-300'> <%= sub.name + " " + "(" + sub.credits.to_s + ")" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>