<%= turbo_frame_tag(dom_id(term)) do %>
  <div class="my-1 bg-slate-100 px-2 py-1 text-lg text-gray-800 border border-gray-800 rounded-lg hover:shadow-xl transition delay-200">
    <div class="flex justify-between items-center">
      <%= turbo_frame_tag "update_term_name_#{term.id}" do %>
        <div class="flex justify-between items-center">
          <%= link_to student_term_student_terminal_subjects_url(@student, term), data: {"turbo_frame": "admin_student_term_terminal_subjects_#{term.id}"}, class: "bg-slate-100 px-1 rounded hover:bg-slate-400" do %>
            <%= term.name %>
            <small class="italic">
              <%= term.start_date.inspect %> - <%= term.end_date.inspect %>
            </small>
          <% end %>
        </div>
      <% end %>
      <div class="flex justify-center items-center space-x-3">
        <%= link_to edit_student_term_url(@student, term), data: {"turbo_frame": "term_new_edit_modal"}, class: "bg-slate-100 rounded px-1 text-gray-800 text-sm rounded hover:bg-slate-400" do %>
          <i class="fa-solid fa-pen-to-square"></i> edit term
        <% end %>
        <div class="bg-cyan-600 rounded flex justify-center items-center">
          <div class="px-1 text-sm flex justify-center items-center text-gray-50">
            credits
          </div>
          <%= render "student_terminal_subjects/credits_count", student: @student, term: term %>
        </div>
      </div>
    </div>
    <%= turbo_frame_tag "admin_student_term_terminal_subjects_#{term.id}" %>
  </div>
<% end %>