<div class="p-2 border border-indigo-500 rounded-lg flex flex-col justify-center items-center space-y-2"> 
  <div class="flex justify-center items-center space-x-4">
    <div class="font-bold">Marks</div>
    <div>
      <%= link_to edit_student_terminal_subject_marks_report_url(marks_report.student_terminal_subject, marks_report), class: "text-sm text-blue-600" do %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center items-center text-sm space-x-2">
    <span>written: <%= marks_report.written %></span>
    <span>oral: <%= marks_report.oral %></span>
    <span class="px-1 border border-orange-400 font-bold">total: <%= marks_report.total %></span>
  </div>
</div>

<%# <%= link_to student_terminal_subject_marks_report_url(marks_report.student_terminal_subject, marks_report), data: { turbo_method: :delete, turbo_confirm: "Are you sure" }, class: "px-1 bg-red-600 text-gray-50" do %>
  <%# Delete %>
<%# <% end %>