<div class="w-full h-10 bg-orange-500 text-gray-200  flex justify-center items-center sticky top-14">
  <%= render "subjects/count" %>
</div>

<div class="my-4 flex justify-center items-center">
  <%= link_to subjects_excel_subjects_path(@subjects, format: :xlsx), class: "mt-2 bg-blue-600 px-2 py-1 text-gray-50 shadow-xl" do %>
    All subjects Excel sheet
  <% end %>
</div>

<div class="my-4 flex justify-center items-center">
  <%= link_to new_subject_path, data: { turbo_frame: "subject_new_edit_modal" }, class: "px-3 py-2 bg-green-700 text-2xl text-gray-50 font-light shadow-2xl rounded hover:bg-green-400"  do %>
    New Subject
  <% end %>
</div>

<div class="mt-4 flex flex-col items-center">
  <div class="w-1/2 mt-3">
    <%= turbo_stream_from "subjects_list" %>
    <%= turbo_frame_tag "subjects" do %>
      <% @subjects.each do |subject| %>
        <%= render "subjects/subject", subject: subject %>
      <% end %>
    <% end %>
  </div>
</div>