<%= form_for(cocurriculum, html: { class: "flex flex-col space-y-3" }) do |f| %>

  <% if cocurriculum.errors.any? %>
    <ul class="bg-red-200 px-2 py-1 border border-red-400 text-red-400 list-disc list-inside">
      <% cocurriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name, "Title", class: "text-gray-700 text-xl" %>
  <%= f.text_field :name, class: "px-1 py-1 bg-gray-50 text-gray-700 text-lg rounded border-2 border-blue-200 focus:outline-none focus:border-2 focus:border-blue-500 focus:ring-blue-500" %>
  
  <%= f.label :strategies, class: "text-gray-700 text-xl" %>
  <%= f.text_area :strategies, class: "px-1 py-1 bg-gray-50 text-gray-700 text-lg rounded border-2 border-blue-200 focus:outline-none focus:border-2 focus:border-blue-500 focus:ring-blue-500" %>
   
  <%= f.submit yield(:button_name), class: "px-4 py-3 bg-blue-700 rounded text-gray-50 hover:bg-blue-900" %>
<% end %>