<%= form_for(cocurriculum, html: { class: "flex flex-col space-y-2 justify-center items-center" }) do |f| %>

  <% if cocurriculum.errors.any? %>
    <ul class="bg-red-200 px-2 py-1 border border-red-400 text-red-400 list-disc list-inside">
      <% cocurriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name, "Title", class: "text-gray-700 font-semibold" %>
  <%= f.text_field :name, class: "px-1 py-1 text-gray-700 rounded border border-gray-300 bg-gray-200" %>
  
  <%= f.label :strategies, class: "text-gray-700 font-semibold" %>
  <%= f.text_area :strategies, class: "px-1 py-1 text-gray-700 rounded border border-gray-300 bg-gray-200"%>
   
  <%= f.submit yield(:button_name), class: "bg-green-600 px-3 py-2 text-sm text-gray-50 rounded-lg hover:bg-green-400" %>
<% end %>