<div class="w-auto h-auto flex justify-center items-center">
  <div class="rounded-lg">
    <div class="mt-1 mx-32 px-4 py-2 bg-gray-200 flex flex-col justify-center items-center">
      <%= simple_form_for teacher, 
            defaults: { input_html: {
            class: "pl-2 my-4 border border-zinc-400 rounded-lg text-lg font-light text-gray-700 fonts-normal focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" },
            label_html: { class: "pr-2 text-lg font-light text-gray-700" },
            error_html: { class: "ml-2 text-red-700"}
            },
            html: { class: "my-10" } do |f| %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence %>
        <%= f.input :full_name %>
        <%= f.input :contact_no %>
        <%= f.input :full_address %>
        <%= f.input :staff_quarter, label: "Residing in staff quarters?", collection: ["Yes", "No"], default: "Yes" %>
        <%= f.submit class: "bg-green-600 px-3 py-2 text-lg text-gray-50 rounded-lg hover:bg-green-400" %>
      <% end %>
    </div>
  </div>
</div>
