<%= turbo_frame_tag(dom_id(teacher)) do %>
  <div class="px-6 py-2 bg-blue-100 border border-slate-400 rounded shadow-lg hover:shadow-2xl transition delay-100">
    <div class="flex justify-between items-center">
      <%= link_to teacher_path(teacher),
          class: "text-lg text-gray-700" do %>
        <i class="fa-solid fa-user"></i>
        <%= teacher.full_name %>
      <% end %>
      <%= turbo_frame_tag "profile#{teacher.id}" do %>
        <%= link_to profile_teacher_path(teacher), class: "text-sm text-gray-700" do %>
          <i class="fa-solid fa-link"></i> profile
        <% end %>
      <% end %>
    </div> 
  </div>
<% end %>