<%= turbo_frame_tag "admin_list" do %>
<div class="flex justify-center items-center rounded bg-indigo-500 absolute right-7 top-32 z-50">
  <span class="h-10 pl-2 pr-1 py-1 text-lg text-gray-50 flex justify-center items-center">All teachers</span>
  <%= render "teachers/count" %>
</div>

<div class="mt-16 mb-8 flex justify-center items-center">
  <%= link_to new_teacher_path, data: { turbo_frame: "teacher_new_edit_modal" }, class: "px-3 py-2 bg-green-700 text-2xl text-gray-50 font-light shadow-2xl rounded hover:bg-green-400" do %>
    New <i class="fas fa-chalkboard-teacher"></i> Teacher
  <% end %>
</div>

  <div class="w-full mt-3 mb-16 bg-gray-50"> 
    <%= turbo_stream_from "teachers_list" %>
    <%= turbo_frame_tag "teachers" do %>
      <div class="mx-8 flex flex-col space-y-3">
        <% @teachers.each do |teacher| %>
          <%= render "teachers/teacher", teacher: teacher %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
