<%= turbo_stream_from "teachers_list" %>
<%= turbo_frame_tag "teachers" do %>
  <div class="mt-8 flex flex-col items-center">
    <div class="w-1/2 mt-3">
      <% @teachers.each do |teacher| %>
        <%= render "teachers/teacher", teacher: teacher %>
      <% end %>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "new_teacher" do %>
  <div class="my-8 flex justify-center items-center">
    <%= link_to new_teacher_path, class: "px-3 py-2 bg-green-700 text-2xl text-gray-50 font-light drop-shadow-2xl rounded hover:bg-green-400" do %>
      New Teacher
    <% end %>
  </div>
<% end %>
