<div class="my-6 text-3xl font-light text-gray-700 flex justify-center items-center">
  <span class="flex flex-row justify-center items-center space-x-4">
    <span><%= @teacher.full_name %>'s Dashboard</span>
    <span class="text-gray-700"><%= @svg.html_safe %></span>
  </span>
</div>
<div class="flex justify-center items-center">
  <div class="flex flex-col justify-center items-center md:grid md:grid-cols-4 md:gap-2 text-gray-700">
    <div><u>Name:</u> 
      <%= @teacher.full_name %>
    </div>
    <div><u>Contact Number:</u>  
      <%= @teacher.contact_no %>
    </div>
    <div><u>Address:</u> 
      <%= @teacher.full_address %>
    </div>
    <div><u>Joining date:</u> 
      <%= @teacher.joining_date %>
    </div>
    <div><u>Residing in staff quarter?</u>
      <%= @teacher.staff_quarter %>
    </div>
  </div>
</div>

<div class="mt-16 flex flex-col justify-center items-center">
  <div class="text-3xl font-extralight">Workload per term:</div>
    <table class="mt-8 table-auto">
      <thead>
        <tr>
          <th class="p-1 border-2 border-gray-400">Subject</th>
          <th class="p-1 border-2 border-gray-400">Book</th>
          <th class="p-1 border-2 border-gray-400">Credits</th>
          <th class="p-1 border-2 border-gray-400">Term</th>
          <th class="p-1 border-2 border-gray-400">Start Date</th>
          <th class="p-1 border-2 border-gray-400">End Date</th>
          <th class="p-1 border-2 border-gray-400">Time</th>
          <th class="p-1 border-2 border-gray-400">Days</th>
          <th class="p-1 border-2 border-gray-400">Classroom</th>
          <th class="p-1 border-2 border-gray-400">Remarks</th>
        </tr>
      </thead>
      <% @teacher_terminal_subjects_without_duplication.each do |classroom_subject| %>
        <tbody>
          <tr>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.name %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.book %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.credits %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.name %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.start_date.inspect %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.end_date.inspect %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.period_time.strftime("%I:%M") %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.start_day %> - <%= classroom_subject.end_day %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.classroom.name %></td>
            <td class="p-1 border-2 border-gray-300"><%= classroom_subject.remarks %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="flex flex-col justify-center items-center">
    <%= link_to workload_teacher_path(@teacher, format: :xlsx), class: "mt-2 bg-blue-600 px-2 py-1 text-gray-50 shadow-xl" do %>
      Excel Sheet
    <% end %>
  </div>
  <div class="mt-16 flex flex-col justify-center items-center">
    <div class="text-3xl font-extralight">Performance in each subject</div>
      <table class="mt-8 table-auto">
        <thead>
          <tr>
            <th class="p-1 border-2 border-gray-400">Subject</th>
            <th class="p-1 border-2 border-gray-400">Book</th>
            <th class="p-1 border-2 border-gray-400">Credits</th>
            <th class="p-1 border-2 border-gray-400">Term</th>
            <th class="p-1 border-2 border-gray-400">Start Date</th>
            <th class="p-1 border-2 border-gray-400">End Date</th>
            <th class="p-1 border-2 border-gray-400">Student</th>
            <th class="p-1 border-2 border-gray-400">Total Marks</th>
          </tr>
        </thead>
        <% @teacher_terminal_subjects.each do |classroom_subject| %>
          <tbody>
            <tr>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.name %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.book %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.subject.credits %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.name %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.start_date.inspect %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.term.end_date.inspect %></td>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.student.first_name + " " + classroom_subject.student.last_name %></td>
              <% if classroom_subject.marks_report.present? %>
              <td class="p-1 border-2 border-gray-300"><%= classroom_subject.marks_report.total %></td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>