<% provide(:button_name, "Add subject") %>

<%= simple_form_for([student, term, student_terminal_subject], defaults: { label_html: { class: "mr-1 text-sm text-gray-700 font-semibold" }, input_html: { class: "mr-1 px-1 py-1 text-sm text-gray-700 rounded-lg bg-orange-300" } },html: { class: "flex flex-col space-y-3 justify-center items-center" }) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence %>
  <%= f.input :period_time %>
  <%= f.input :start_day, label: "From", collection: ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat"] %>
  <%= f.input :end_day, label: "To", collection: ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat"]  %>
  <%= f.input :classroom_id, collection: Classroom.all %>
  <%= f.input :subject_id, collection: Subject.all %>
  <%= f.input :teacher_id, collection: Teacher.all %>
  <%= f.input :remarks %>
  <%= turbo_frame_tag "subject_flash" do %>
    <div></div>
  <% end %>
  <%= f.submit yield(:button_name), class: "bg-green-600 px-3 py-1 text-sm text-gray-50 rounded-lg hover:bg-green-400" %>
<% end %>