<%= turbo_frame_tag(dom_id(student_terminal_subject)) do %>
  <div><%= student_terminal_subject.subject.name %></div>
  <div><%= student_terminal_subject.period_time.strftime("%I:%M %p") %></div>
  <div><%= student_terminal_subject.subject.credits %></div>
  <div><%= student_terminal_subject.teacher.full_name %></div>
  <div><%= student_terminal_subject.classroom %></div>
  <div><u><%= link_to "Edit", edit_student_term_student_terminal_subject_url(student_terminal_subject.student, student_terminal_subject.term, student_terminal_subject) %></u></div>
<% end %>