<%= turbo_stream_from "student_terminal_subjects_list" %>
<%= turbo_frame_tag "student_terminal_subjects" do %>
  <div class="mt-8 flex flex-col items-center">
    <div class="w-4/5 mt-4">
      <div class="">
        <% @student_terminal_subjects.each do |student_terminal_subject| %>
          <%= render "student_terminal_subjects/student_terminal_subject", student_terminal_subject: student_terminal_subject %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "new_student_terminal_subject" do %>
  <div class="mt-8 flex justify-center items-center">
    <%= link_to new_student_term_student_terminal_subject_path, class: "px-3 py-2 bg-green-600 text-gray-50 text-2xl hover:bg-green-400 rounded-lg" do %>
      Add New Terminal Subject
    <% end %>
  </div>
<% end %>
